.main
  - sprint_lists.each do |sprint|
    %h1= sprint.name
    %table.table.table-bordered
      %tr
        %th Project
        %th Link
      - sprint.cards.each do |card|
        - if card.card_labels.any? { |label| label["id"] == TRELLO_PROJECT_ID }
          %tr
            %td= card.name
            %td
              %a{:href => card.url, :target => "_blank" }= card.url
